* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #73747A;
}

html {
    width: 1440;
    height: 800;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: #141519;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
    position: relative;
}

#containerRating {
    color: white;
    background-image: radial-gradient(at 50% -5%, #232A34, #191E27);
    width: 20.3125em;
    height: 22.5em;
    border-radius: 1em;
    padding: 1.5em;
    visibility: visible;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#containerRating > *:not(:last-child) {
    margin-bottom: auto; 
} 

.starIcon {
    background-color: #262F38;
    padding: 1em;
    border-radius: 100%;
}

h1 {
    color: white;
    font-size: 1.5em;
}

p {
    font-size: 14px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.btnScore {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border-width: 0;
    background-color: #262F38;
}

.btnScore:hover {
    background-color: #FC7613;
    color: white;
}

.btnScore:focus {
    background-color: #7C8798;
    color: white;
}

#btnSubmit {
    border-radius: 2em;
    border-width: 0;
    background-color: #FC7613;
    color: white;
    width: 100%;
    padding: 1em 0;
    letter-spacing: .15em;
}

#btnSubmit:hover {   
    background-color: white;
    color: #FC7613;
}

#containerThankYou{
    color: white;
    background-image: radial-gradient(at 50% -5%, #232A34, #191E27);
    width: 20.3125em;
    height: 22.5em;
    border-radius: 1em;
    padding: 1.5em;
    text-align: center;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#containerThankYou > *:not(:last-child) {
    margin: auto; 
} 

.rating {
    color:#FC7613;
    background-color:#262F38;
    border-radius: 2em;
    padding: .5em 1em;
}

#selectedScore {
    color:#FC7613;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}